.site-nav ul{
    display: flex;
    align-items: center;
}

.site-nav li{
    position: relative;
    display: block;
    list-style: none outside;
}

.site-nav ul li > a + ul{
    display: none;
    position: absolute;
    top: 100%;
}

.site-nav li:hover > a + ul{
    display: block;
    background-color: white;
    /* box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3); */
    z-index: 100;
}

.site-nav a{
    display: block;
    padding: 0.5em 1em;
    font-size: 1.1em;
    transition: color 0.2s ease-in;
}

.site-nav a:hover{
    color: rgb(0, 204, 255);
}