.social{
    display: flex;
    padding-top: 0.5em;
}

.social li{
    display: block;
    list-style: none;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    width: 2.2em;
    height: 2.2em;
    line-height: 1;
    margin-right: 0.2em;
}

.social a{
    display: flex;
    color: black;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    width: 2.2em;
    height: 2.2em;
    line-height: 1;
    margin-right: 0.2em;
    justify-content: center;
    align-items: center;
    font-family: FontAwesome;
    transition: background 0.3s ease-in;
}

.social a:hover{
    background: rgba(255, 255, 255, 0.9);
}